@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using KAR_Robotics
@inject IStringLocalizer<SharedResource> Localizer
<!-- About Section -->
<section id="about" class="about section" style="padding-bottom: 0px">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="~/img/KAR-Robotics.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 order-2 order-lg-1 content">
                <h3>
                    <p>Mevcut Kültür: @System.Globalization.CultureInfo.CurrentCulture.Name</p>
                    <p>Testv2 Çevirisi: @Localizer["Testv2"]</p>
                    @Localizer["Testv2"]
                </h3>
                <!-- <p class="fst-italic"> -->
                <p>


                    KAR Robotics olarak misyonumuz, yalnızca robotlar üretmekten çok daha fazlasını kapsamaktadır. Biz, gençlere bilimi, teknolojiyi ve yaratıcılığı tanıtmayı; onları bilinçli, üretken ve geleceğe hazır bireyler haline getirmeyi hedefliyoruz. Her çalışmamızda amacımız, yalnızca teknik bilgi kazanmak değil, aynı zamanda düşünme biçimimizi geliştirmek ve öğrenmenin gücünü paylaşmaktır.

                    FRC süreci bize sadece mühendislik ve kodlama öğretmez; aynı zamanda özgüven, azim, takım ruhu ve dayanışma kazandırır. Her proje, bir ekip olarak birlikte üretmenin, birlikte düşünmenin ve birlikte başarmanın yeni bir yoludur. Biz, her hatayı bir öğrenme fırsatı, her başarıyı ise yeni bir hedefin başlangıcı olarak görürüz.
                </p>
                <ul>
                    <li><i class="bi bi-check2-all"></i> <span>Bilimi ve teknolojiyi sadece kullanmak değil, anlamak ve geliştirmek bizim için tutkudur.</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>Ekip içinde saygı, sorumluluk ve güven en önemli değerlerimizdir.</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>Farklı fikirlerin bizi ileri taşıdığına inanır, her bireyin katkısına değer veririz.</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>Zorluklar karşısında pes etmeyiz; çünkü ilerlemenin yolu denemekten geçer.</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>KAR Robotics olarak inanıyoruz ki, geleceği inşa edenler; hayal kuran, üreten ve paylaşan insanlardır.</span></li>
                </ul>
                <p>
                    Biz, geleceğin şekillenmesinde aktif rol almak isteyen bir neslin parçasıyız.
                    Yaratıcılıkla, bilimin ışığında, dayanışma ve çalışkanlıkla ülkemizin geleceğine iz bırakmak için buradayız.
                    KAR Robotics olarak inanıyoruz ki, geleceği inşa edenler; hayal kuran, üreten ve paylaşan insanlardır.
                </p>
            </div>
        </div>

    </div>

</section><!-- /About Section -->