    <!-- Call To Action Section -->
<section id="call-to-action" class="call-to-action section dark-background">

    <img src="~/img/cta-bg.jpg" alt="">

    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
                <div class="text-center">
                    <h3>Geleceğin mühendislerini birlikte yetiştirelim!</h3>
                    <p>KAR Robotics olarak gençlere STEM alanında ilham vermek, üretmek ve uluslararası arenada ülkemizi en iyi şekilde temsil etmek için çalışıyoruz. Sizin desteğiniz, yalnızca bir robota değil, gençlerin geleceğine yapılan bir yatırımdır.</p>
                    <a class="cta-btn" href="#">Sponsor Olun!</a>
                </div>
            </div>
        </div>
    </div>

</section><!-- /Call To Action Section -->