    <!-- Services Section -->
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Hakkımızda</h2>
        <p>Takımımız Hakkında</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-question" style="color:white"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>Biz Kimiz</h3>
                    </a>
                    <p>Kartal Anadolu Lisesi öğrencilerinden oluşan KAR Robotics, FRC programı kapsamında robot tasarlayan, üreten ve yeni teknolojiler öğrenen bir öğrenci topluluğudur. Amacımız sadece bir robot inşa etmek değil, birlikte öğrenen, üreten ve ilham veren bir takım olarak geleceğin mühendislerine adım atmaktır.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-broadcast" style="color:white"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>Takım Misyonu</h3>
                    </a>
                    <p>Gençlerin STEM alanlarına ilgisini artırmak, onların mühendislik, yazılım ve tasarım becerilerini geliştirebilecekleri bir ortam sunmak ve ulusal–uluslararası arenada okulumuzu en iyi şekilde temsil etmek için çalışıyoruz. Her sezonda daha fazla öğrenciye dokunmayı hedefliyoruz.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-easel" style="color:white"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>Takım Vizyonu</h3>
                    </a>
                    <p>Teknolojiyi üreten, araştıran ve toplumda fark yaratan bir neslin parçası olmayı hedefliyoruz. Sürdürülebilir bir takım kültürü oluşturarak, FRC ekosisteminde hem teknik hem toplumsal katkılarıyla örnek gösterilen bir ekip hâline gelmeyi amaçlıyoruz.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-bounding-box-circles" style="color:white"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>Takım Değerlerimiz</h3>
                    </a>
                    <p>Takım ruhu, disiplinli çalışma, dayanışma ve “Gracious Professionalism” bizim temel ilkelerimizdir. Birlikte öğrenir, birlikte üretir ve karşılaştığımız her zorluğu ekip olarak çözeriz. Her üyemizin gelişimi takımımız için değerlidir.</p>
                    <a href="service-details.html" class="stretched-link"></a>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-calendar4-week" style="color:white"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>Duyarlı Profesyonellik</h3>
                    </a>
                    <p>Rekabetin ötesine geçerek saygı, nezaket ve yardımseverlik çerçevesinde hareket ederiz. Yarışırken bile rakiplerimize destek olur, iş birliğini ön planda tutarız. Bu yaklaşım FRC’nin ve takımımızın temel felsefesini oluşturur.</p>
                    <a href="service-details.html" class="stretched-link"></a>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-chat-square-text" style="color:white"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>Toplumsal Etki</h3>
                    </a>
                    <p>Yıl boyunca düzenlediğimiz atölyeler, robot gösterileri ve STEM etkinlikleriyle yüzlerce öğrenciye ulaşıyoruz. Amacımız sadece yarışmalara katılmak değil; yeni nesillere ilham vermek, teknolojiye olan ilgiyi artırmak ve toplumda kalıcı bir fark yaratmak.</p>
                    <a href="service-details.html" class="stretched-link"></a>
                </div>
            </div><!-- End Service Item -->

        </div>

    </div>

</section><!-- /Services Section -->