@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using KAR_Robotics
@inject IStringLocalizer<SharedResource> Localizer

    <!-- Sponsors Section -->
<section id="clients" class="clients section">
    <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>@Localizer["SponsorsH2P"]</h2>
        <p>@Localizer["SponsorsH2P"]</p>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  },
                  "breakpoints": {
                    "320": {
                      "slidesPerView": 2,
                      "spaceBetween": 40
                    },
                    "480": {
                      "slidesPerView": 3,
                      "spaceBetween": 60
                    },
                    "640": {
                      "slidesPerView": 4,
                      "spaceBetween": 80
                    },
                    "992": {
                      "slidesPerView": 6,
                      "spaceBetween": 120
                    }
                  }
                }
            </script>
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><img src="~/img/sponsors/sponsor-1.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="~/img/sponsors/sponsor-2.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="~/img/sponsors/sponsor-3.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="~/img/sponsors/sponsor-4.png" class="img-fluid" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>